/* Search */
button.search__btn {
    width: 4rem;
    height: 100%;
    min-width: 0;
    border: none;
    border-radius: 0 1rem 1rem 0;
    font-size: 1.8rem;
    background-color: var(--white-color);
}

/* Header Tool */
button.header__tool-icon {
    border: none;
    border-radius: 50%;
    background-color: transparent;
}

button.header__tool-icon > i {
    font-size: 2.8rem;
}

@media (min-width: 500px) {
    button.header__tool-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.8rem;
        height: 4.8rem;
        border: 0.1rem solid var(--border);
    }

    button.header__tool-icon > i {
        font-size: 2.4rem;
    }

}