/* Nav Top */
nav#navtop {
    width: 100%;
    height: 30px;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-inline: 0.5rem;
}

@media (min-width: 992px) {
    nav#navtop {
        display: flex;
    }
}

.navtop__list {
    gap: 2rem;
}

.navtop__items, .navtop__items-socials {
    display: flex;
    align-items: center;
    gap: 0.2em;
    cursor: pointer;
    transition-duration: 0.2s;
}

.navtop__items span {
    color: var(--text-main);
}

.navtop__items i,
.navtop__items span,
.navtop__items-socials span {
    font-size: 1.5rem;
}

.navtop__items-other > a {
    font-size: 1.8rem;
    transition-duration: 0.2s;
}

.navtop__items:hover,
.navtop__items i:hover,
.navtop__items span:hover,
.navtop__items-other > a:hover {
    color: var(--text-hover);
}

.navtop__items-other a {
    margin: 0 0.2rem;
    font-size: 1.7rem;
}

.navtop__items-socials {
    cursor: default;
}

/* Header */
header#header {
    height: 7rem;
    background-color: var(--primary-color-500);
}

.header__logo, .header__category {
    display: none;
}

.header__logo-link {
    gap: 0.4rem;
}

.header__logo-link > img {
    width: 74px;
    user-select: none;
    pointer-events: none;
}

.header__logo-link span {
    font-size: 4.6rem;
    font-weight: bold;
    color: var(--primary-color-500);
    font-family: "Pacifico", cursive;
    font-style: normal;
}

.header__category {
    display: none;
    align-items: center;
    margin-left: 1.5rem;
}

.header__category-text {
    height: 4.8rem;
    border: 0.1rem solid var(--border);
    padding-inline: 1rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    gap: 0.4rem;
    cursor: pointer;
}

@media (min-width: 992px) {
    header#header {
        background-color: var(--white-color);
        margin: 0.4rem 0 0.4rem 0;
        width: 100%;
    }

    .header__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__category {
        display: flex;
        margin-right: 1rem;
    }
}

.header__search {
    flex: 1;
    flex-shrink: 0;
    min-width: 0;
}

@media (min-width: 992px) {
    .header__search-wrapper {
        border: 0.1rem solid var(--border);
    }
}

.header__search-wrapper {
    display: flex;
    align-items: center;
    height: 4.8rem;
    background-color: var(--white-color);
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.header__search-wrapper > input {
    flex: 1;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    border: none;
    font-size: 1.55rem;
    padding-left: 1.5rem;
    min-width: 0;
    outline: none;
}

.header__tool {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    gap: 1rem;
}

.header__user, .header__notify {
    display: none;
    align-items: center;
    justify-content: center;
}

@media (min-width: 500px) {
    .header__user {
        display: flex;
    }
}

@media (min-width: 700px) {
    .header__notify {
        display: flex;
    }
}