/* Nav Top */
nav#navtop {
    display: none;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

@media (min-width: 992px) {
    nav#navtop {
        display: flex;
    }
}

.navtop__list {
    display: flex;
    gap: 2rem;
}

.navtop__items, .navtop__items-socials {
    display: flex;
    align-items: center;
    gap: 0.2em;
    cursor: pointer;
    transition-duration: 0.2s;
}

.navtop__items span {
    color: var(--text-main);
}

.navtop__items i,
.navtop__items span,
.navtop__items-socials span {
    font-size: 1.5rem;
}

.navtop__items-other > a {
    font-size: 1.8rem;
    transition-duration: 0.2s;
}

.navtop__items:hover,
.navtop__items i:hover,
.navtop__items span:hover,
.navtop__items-other > a:hover {
    color: var(--text-hover);
}

.navtop__items-other a {
    margin: 0 0.2rem;
    font-size: 1.7rem;
}

.navtop__items-socials {
    cursor: default;
}

/* Header */
header#header {
    display: flex;
    height: 7rem;
    background-color: var(--primary-color-500);
}

.header__logo {
    display: none;
}

.header__menu {
    display: none;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    flex-shrink: 0;
    min-width: 0;
}

.header__search-wrapper {
    display: flex;
    align-items: center;
    height: 4.5rem;
    background-color: var(--white-color);
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    margin-left: 1rem;
}

.header__search-wrapper > input {
    display: flex;
    flex: 1;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    border: none;
    font-size: 1.55rem;
    padding-left: 1.5rem;
    min-width: 0;
    outline: none;
}

.search__btn {
    width: 4rem;
    height: 100%;
    min-width: 0;
    border: none;
    border-radius: 0 1rem 1rem 0;
    font-size: 1.7rem;
    background-color: var(--white-color);
}


.header__tool {
    display: flex;
    align-items: center;
    margin-inline: 1rem;
}

.header__cart-wrapper > i {
    font-size: 2.5rem;
}